@import "variables.scss";
@import "formhack.scss";

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    // max-width: 1440px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    // width: 100%;
    // padding: 0 32px;

    &__menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;

        img {
            width: 100%;
        }

        li {
            list-style-type: none;
            a {
                color: $white;

                &:hover {
                    font-weight: 500;
                }
            }
        }
    }
}

.home {
    display: flex;
    flex-direction: column;
    gap: 80px;

    &__hero {
        height: 100vh;
        width: 100vw;
        background-image: url("/img/hero_img.jpg");
        background-size: cover;

        div {
            width: 88%;
            margin: 28vh auto;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        h1 {
            color: $white;
        }
        p {
            color: $white;
        }
        button {
            margin-top: 30px;
            width: 40%;
            min-width: 170px;
        }
    }

    &__adv {
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            &-card {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 280px;
                border: 1px solid rgba(40, 42, 4, 0.2);
                border-radius: 10px;
                padding: 22px 40px;
                gap: 44px;
                align-items: center;

                img {
                    width: 44px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        font-size: 32px;
                        font-weight: bold;
                    }
                    p {
                        font-size: 16px;
                        text-align: center;
                    }
                }
            }
        }
    }

    &__cta {
        width: 100vw;
        height: 380px;
        background-image: url("/img/cta_bg.jpg");
        background-size: cover;
        border-radius: 10px;
        display: flex;
        align-items: center;

        div {
            background-color: rgba(39, 39, 39, 0.6);
            width: 40%;
            border-radius: 10px;
            position: relative;
            // top: 25%;
            left: 6%;
            height: fit-content;
            padding: 40px 20px;

            p {
                font-size: 32px;
                font-weight: 500;
                color: $white;
                margin-bottom: 24px;
            }
        }
    }

    &__about {
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 30px;
        }

        &-photo {
            display: flex;
            flex-direction: column;
            gap: 20px;
            // height: 100%;
            justify-content: space-between;

            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
                img {
                    width: 180px;
                    height: 180px;
                }
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            // height: 100%;

            h3 {
                font-size: 24px;
                font-weight: 500;
            }
        }
        &-btns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            a:first-of-type {
                margin-right: 28px;
            }
            button {
                border: 1px solid $green;
                width: 70%;
            }
        }
    }

    &__contact {
        width: 88%;
        margin: 0 auto;
        // display: grid;
        // grid-template-columns: ;

        &-block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &:first-of-type {
                margin: 20px auto;
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 28%;

                a {
                    text-decoration: underline;
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    p:first-of-type {
                        font-weight: bold;
                    }
                }
            }
        }
        iframe,
        img {
            width: 70%;
            height: 140px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    &__select {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 88%;
        margin: 0 auto -44px;
    }

    &__tours {
        // margin-top: 100px;
        // padding: 0 32px;
        width: 88%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;

        &-filter {
            display: flex;
            flex-direction: column;

            &-block {
                &-title {
                    width: 160px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    // margin-bottom: 15px;
                    margin-top: 26px;
                    cursor: pointer;

                    &:first-child {
                        margin-top: 0;
                    }

                    h5 {
                        font-size: 16px;
                        font-weight: 700;
                    }

                    img {
                        display: none;
                    }
                }

                &-list {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    margin: 15px 0 18px 0;

                    input[type="checkbox"] {
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        padding: 13px;
                        background-color: $white;
                        border-radius: 7px;
                        border: 1px solid $green;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        height: 28px;
                    }

                    input[type="checkbox"]:checked {
                        background-color: $green;
                        padding: 4px;
                    }

                    input[type="checkbox"]:checked::before {
                        content: "\2713";
                        color: white;
                        padding: 2px 4px;
                        font-weight: bold;
                    }
                }
            }
        }
        &-cards {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 20px;

            .card {
                height: 436px;
                width: 280px;

                img {
                    height: 436px;
                    width: 280px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    position: absolute;
                    z-index: -1;
                    border-radius: 10px;
                }

                .info-block {
                    background-color: rgba(39, 39, 39, 0.6);
                    border-radius: 10px;
                    padding: 15px 18px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-top: 80%;
                    height: 212px;

                    p,
                    h4 {
                        color: #fff;
                        font-size: 16px;
                    }
                }

                button {
                    width: 130px;
                    height: 36px;
                    // position: relative;
                    // z-index: 99;
                }

                .overview {
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 12px !important;
                }

                .info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 3px;
                    }

                    .price {
                        // margin-top: 9px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    &__team {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 88%;
        margin: 0 auto;

        img {
            width: 156px;
            height: 144px;
            object-fit: cover;
            border-radius: 10px;
        }

        &-catalog {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
        }

        &-card {
            display: flex;
            flex-direction: row;
            width: 49%;
            border: 1px solid rgba(40, 42, 4, 0.2);
            border-radius: 10px;
            // gap: 22px;

            .info {
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                h4 {
                    font-size: 16px;
                    font-weight: bold;
                }

                p {
                    font-size: 12px;
                }

                .label {
                    background-color: rgba(39, 39, 39, 0.5);
                    color: $white;
                    font-size: 12px;
                    font-style: italic;
                    padding: 3px 8px;
                    border-radius: 10px;
                }
            }
        }
    }
}

.footer {
    width: 88%;
    display: flex;
    justify-content: space-between;
    margin: 80px auto 20px;
    gap: 20px;

    h3 {
        margin-bottom: 18px;
        font-size: 16px;
        font-weight: bold;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .first {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 24px;

            h2 {
                font-size: 40px;
                font-weight: bold;
            }
        }

        .second {
            p:first-of-type {
                text-decoration: underline;
                margin-bottom: 10px;
            }
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 26px;

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            li {
                list-style-type: none;
                a {
                    color: $black;

                    &:hover {
                        color: $green;
                    }
                }
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 26px;

        &-social {
            display: flex;
            flex-direction: row;
            gap: 36px;

            a img {
                width: 24px;
            }
        }

        &-contacts {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    &__map iframe {
        width: 100%;
        height: 302px;
        border-radius: 10px;
    }
}

.popup,
.popup__tour {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    background-color: #fff;
    border: 1px solid $green;
    border-radius: 10px;
    opacity: 1;
    z-index: 999;

    width: 70%;
    height: fit-content;
    padding: 50px;

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 24px;

        img {
            cursor: pointer;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3 {
            font-size: 24px;
            font-weight: 500;
        }
        img {
            width: 46%;
            height: 58vh;
            object-fit: cover;
            border-radius: 10px;
        }
        &-text {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3px;

                p:nth-child(2) {
                    font-weight: bold;
                }
            }
            button {
                width: 100%;
                background-color: $green;
                color: $white;
            }
            &-price {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                button {
                    width: 60%;
                    border: 1px solid $green;
                    background-color: $white;
                    color: $green;
                }
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
            width: 45%;
            // margin-top: 34px;
        }
        label {
            margin-top: 14px;
        }
        button {
            margin-top: 20px;
            background-color: $green;
            color: #fff;
            width: 100%;
        }
        .cta {
            width: 100%;
            height: 210px;
            background-image: url("/img/bg.jpg");
            background-size: cover;
            border-radius: 10px;
            margin-top: 32px;

            div {
                background-color: rgba(39, 39, 39, 0.6);
                width: 80%;
                border-radius: 10px;
                position: relative;
                top: 14%;
                left: 10%;
                padding: 20px;

                p {
                    font-size: 16px;
                    font-weight: 500;
                    color: $white;
                }
                button {
                    background-color: $white;
                    color: $green;
                }
            }
        }
    }
    
    input:not([type="submit"]):valid {
        border-color: #2ecc71;
    }

    input:not([type="submit"]) + .input-requirements {
        overflow: hidden;
        max-height: 0;
        transition: max-height 1s ease-out;
    }

    input:not([type="submit"]):hover + .input-requirements,
    input:not([type="submit"]):focus + .input-requirements,
    input:not([type="submit"]):active + .input-requirements {
        max-height: 1000px;
        transition: max-height 1s ease-in;
    }
}

.popup{
    z-index: 1000 !important;
}

.burger-menu {
    display: none;
    .bar {
        width: 25px;
        height: 3px;
        background-color: $white;
        margin: 5px;
        transition: 0.4s;
    }
}

.burger-menu.open .bar {
    &:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    &:nth-child(2) {
        opacity: 0;
    }
    &:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 100%;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: left 0.4s ease;

    &.show {
        left: 0;
    }

    &-content {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fefefe;
        width: 80%;
        height: 100%;
        padding: 20px;
        border-left: 1px solid #888;
    }

    .close {
        color: #aaa;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
        font-weight: bold;

        &:hover,
        &:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.close {
    display: none;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}
